{
	"app": {
		"Environment": "dev",
		"Description": "",
		"MaxPostSize": 5242880,
		"EnableUpload": true,
		"MaxFileSize": 10485760,
		"MaxFileUploads": 20,
		"FileTmpDir": "",
		"Bind": ":8999",
		"WebRoot": "."
	},
	"session": {
		"CookieName": "goru_sess",
		"CookieTimeout": 0,
		"FilePath": "",
		"SessionTimeout": 864000
	},
	"view": {
		"Path": "./view",
		"DelimLeft": "{{",
		"DelimRight": "}}"
	}
}
